/* 우선순위: 포괄 < 구체 */
/* 우선순위: TAG < class < id <<< !important */
/* 우선순위: 같은 급일 때는 위 < 아래 쓴 코드 */
body > li {
  /* >: 자식, 띄어쓰기: 자손 */
  color: teal;
}
.incheon {
  color: darkblue;
}
.korea,
h6 {
  /* 콤마: 함께 */
  color: crimson;
}
#leader {
  color: violet;
}
li:nth-child(4) {
  /* 1부터 시작 */
  text-decoration: underline;
}
h2 + h3 {
  /* h2 자매 중 첫번째 h3 */
  background-color: skyblue;
}
h2 ~ h3 {
  /* h2 자매 중 여러 h3 */
  font-size: 40px;
}
